@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 2px solid #0040EB;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}

/* cabeçalho */
.navbar, .titulo__login, footer{
    background-color: #7EA1C4;
}

.menu .nav-link{
    color: #fff !important;
    padding: 0.3em;
    font-size: 1.1em;
}

.menu .nav-link:hover{
    background-color: #0040EB;
}

.btn{
    background-color: #0040EB;
}

.btn:hover{
    background-color: #003feb98;
}

.link{
    color: #0040EB;
}

.link:hover{
    text-decoration: none;
    color: #003feb98;
}

.primeiro{
    border-right: 1px solid #0040EB;
}

.conectar__face{
    background-color: #3664a2;
    color: #fff;
}

.conectar__face:hover{
    background-color: #4b7ec2;
    color: #fff;
}

.conectar__google{
    background-color: #ddd;
}

.conectar__google:hover{
    background-color: #ccc;
}

/* menu principal */
.menu__principal{
    padding-top: 0.3em;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.menu__principal .nav-link{
    color: #666;
    text-decoration: none;
    min-width: 50vw;
}

.menu__principal .nav-link:focus{
    margin: 0 0.2rem;
    outline: none;
    font-weight: 600;
    box-shadow: 0px -1px 3px #000;
    color: #0040EB;
}

.menu__principal .nav-item{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 0.9em;
    flex-direction: column;
    align-items: center;
}

.menu__principal .nav-link:hover{
    background-color: #eee;
    color: #0040EB;
    font-weight: 900;
}

/* barra scroll */
.menu__principal::-webkit-scrollbar{
    text-align:center;
    border-radius: 20px;
    border: 1px solid #0040EB;
    background-image: linear-gradient(to right, #ddd, #003feb98);
    width: 0;
}

.menu__principal::-webkit-scrollbar-thumb{
    background-color: #0040EB;
    border-radius: 20px;
} 

/* campos de busca */
.campo__pesquisa {
    background-image: url(../img/img7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario__pesquisa{
    width: 100%;
}

.campo__pesquisa label {
    color: #fff;
    font-size: 1.3em;
}

#destino{
    padding-left: 1.4em;
    background-image: url(../img/black-placeholder-variant.png);
    background-repeat: no-repeat;
    background-position: 0.2em center;
}

.btn__busca{
    background-color: #0040EB;
}

.btn__busca:hover{
    background-color: #406be2;
}

.buscar{
    font-size: 1em;
}

.filtros{
    border: 1px solid #ccc;
    width: 70%;
    margin: auto;
}
/* conteúdo principal */
.card-img-top {
    width: 100%;
}

.card {
    height: 500px;
}

.fa-star, .fa-star-half-alt{
    color: #F5F300;
    margin: auto;
}

/* rodapé */
footer{
    text-align: center;
}

.container__contato{
    display: flex;
    flex-direction: column;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.redes__sociais{
    color: #fff;
    font-size: 1.5em;
    margin: 0 1em;
    font-style: normal;
    text-decoration: none;
}

.redes__sociais:hover{
    color: #0040EB;
    text-decoration: none;
}

.direitos, #ofertas{
    margin: 1em 0 0;
    font-size: 1.4em;
}

/* campo para receber ofertas */
#ofertas{
    background-color: #FABE00;
    border-radius: 10px 30px;
    width: 60%;
    margin: 0 auto;
    padding: 1.5em;
}

.card {
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-img-top {
    width: 100%;
}

@media(min-width: 350px){
    .conectar__face{
        background-image: url(../img/facebook-icon.png);
        background-position: 1em center;
        background-size: 1.5rem;
        background-repeat: no-repeat;
    }
    .conectar__google{
        background-image: url(../img/Google__G__Logo.svg.png);
        background-position: 1em center;
        background-size: 1.5em;
        background-repeat: no-repeat;
    }
    .menu__principal .nav-link{
        min-width: 40vw;
    }
}
@media(min-width: 576px){
    .menu__principal .nav-link{
        min-width: 25vw;
    }
}

@media(min-width: 768px){
    .menu .nav-link{
        background-color: #FABE00;
        color: #0040EB !important;
        margin: 0 0.1em;
        border-radius: 30px 10px;
    }
    
    .menu .nav-link:hover{
        background-color: #f6cf4c;
    }
    .menu__principal .nav-link{
        min-width: 19vw;
        font-size: 1.1em;
    }

    .formulario__pesquisa{
        width: 70%;
    }
}