@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid #0040EB;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}

/* barra de rolagem */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: #7EA1C4;
}

::-webkit-scrollbar-thumb {
    background-color: #03178C;
    border-radius: 7px;
    height: 250px;
}

/* cabeçalho e modais*/
.navbar,
.titulo__login,
footer {
    background-color: #7EA1C4;
}

.menu .nav-link {
    color: #fff !important;
    padding: 0.3em;
    font-size: 1.1em;
}

.menu .nav-link:hover,
.btn {
    background-color: #0040EB;
}

.btn:hover {
    background-color: #003feb98;
    text-decoration: none;
}

.link:hover {
    color: #003feb98 !important;
    text-decoration: none;
}

.primeiro {
    border-right: 1px solid #0040EB;
}

.conectar__face:hover {
    background-color: #4b7ec2 !important;
}

.conectar__google:hover {
    background-color: #ccc !important;
}

/* menu principal */
.menu__sessoes {
    list-style: none;
    padding-top: 0.3rem;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    align-items: stretch;
    margin-bottom: 0;
}

.menu__sessoes::-webkit-scrollbar {
    height: 0.7em;
}

.link__box {
    color: #666;
    text-decoration: none;
    min-width: 45vw;
}

.link__box:hover {
    background-color: #eee;
    color: #0040EB;
    font-weight: 900;
    text-decoration: none;
}

.link__box:focus {
    margin: 0 0.2rem;
    outline: none;
    font-weight: 600;
    box-shadow: 0px -1px 3px #000;
    color: #0040EB;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* campos de destino e filtros */
.campo__pesquisa {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.titulo {
    font-size: 2.2em;
    font-weight: 700;
}

.formulario__pesquisa {
    height: 40%;
}

#destino,
#email__ofertas,
#email,
#email__conectar,
#senha {
    padding-left: 1.7em;
    background-repeat: no-repeat;
    background-position: 0.3em center;
    background-size: 18px;
}

#destino {
    padding-left: 0.5em;
    width: 95%;
}

#destino:focus {
    outline: 2px solid #FABE00;
}

.btn__busca {
    background-color: #FABE00;
    color: #0040EB;
}

.btn__busca:focus,
.botao__ofertas:focus {
    outline: 2px solid #fff;
}

.btn__busca:hover {
    background-color: #f6cf4c;
    color: #003feb98;
}

.filtros {
    border: 1px solid #ccc;
}

.cima {
    margin-bottom: 1em !important;
}

#data {
    width: 80vw !important;
}

#inlineFormCustomSelectPref {
    width: 70% !important;
}

/* conteúdo principal */
.card:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-img-top {
    width: 100%;
}

.fa-star,
.fa-star-half-alt {
    color: #F5F300;
    font-size: 1.2em;
}

/* rodapé */
footer {
    text-align: center;
}

.titulo__rodape {
    font-weight: 600;
    font-size: 2em;
}

.contato {
    flex-direction: column;
    align-items: center;
}

.redes__sociais {
    font-size: 1.5em;
}

.redes__sociais:hover {
    text-decoration: none;
}

/* campo para receber ofertas */
.container__ofertas {
    background-color: #FABE00;
    border-radius: 10px 30px;
    width: 90%;
    margin: 0 auto;
}

#email__ofertas,
#email,
#email__conectar {
    background-image: url(../img/o-email1.png);
}

.botao__ofertas,
.botao__filtrar {
    width: 100%;
    margin-top: 0.5em;
}

#senha {
    background-image: url(../img/lock.png);
}

.direitos,
#ofertas {
    font-size: 1.4em;

}

@media(min-width: 350px) {
    .conectar__face {
        background-image: url(../img/facebook-icon.png);
        background-position: 1em center;
        background-size: 1.5rem;
        background-repeat: no-repeat;
    }

    .conectar__google {
        background-image: url(../img/Google__G__Logo.svg.png);
        background-position: 1em center;
        background-size: 1.5em;
        background-repeat: no-repeat;
    }

    .link__box{
        min-width: 40vw;
    }

    #data {
        width: 60vw !important;
    }

    .botao__filtrar {
        width: auto;
        margin-top: 0;
    }
}

@media(min-width: 576px) {
    .link__box {
        min-width: 25vw;
    }

    #destino {
        background-image: url(../img/tool.png);
        padding-left: 1.7em;
        width: auto;
    }

    #data {
        width: auto !important;
    }

    .tipo__de__local {
        width: auto;
        text-align: left;
    }

    #email__ofertas {
        width: auto;
    }

    .botao__ofertas {
        width: auto;
        margin-top: 0;
    }

    #inlineFormCustomSelectPref {
        width: auto !important;
    }
}

@media(min-width: 768px) {
    .menu .nav-link {
        background-color: #FABE00;
        color: #0040EB !important;
        margin: 0 0.1em;
        border-radius: 30px 10px;
    }

    .menu .nav-link:hover {
        background-color: #f6cf4c;
    }

    .link__box {
        min-width: 19vw;
    }
     
    .contato {
        flex-direction: row;
        align-items: center;
    }

    .container__ofertas {
        width: 60%;
    }
}

@media(min-width: 992px) {
    .cima {
        margin-bottom: 0 !important;
    }
}